<div class="container">
<div class="pt-5 container"></div>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
      <div class="border"></div>
      <div class="pt-3 container"></div>
      <p class="h1 text-center">ホーム</p>
      <div class="pt-3 container"></div>
      <div class="border"></div>
    </div>
  </div>

<div class="pt-5 container"></div>

  <div class="row pb-5 text-center">
    <div class="col-5 mx-auto">
      <%= link_to "管理者はこちら", 'administrators/sign_in', class: "col-4 btn btn-primary" %>
      <%= link_to "従業員はこちら", 'employees/sign_in', class: "col-4 btn btn-primary" %>
    </div>
  </div>
</div>
