<div class="container">
  <div class="pt-5 container"></div>
  <div class="row pb-5">
    <div class="col-5 mx-auto">
      <p class="h1 text-center">通知</p>
    </div>
  </div>
  <div class="container py-3"></div>
  <div class="border"></div>

  <% @notifications.each do |notification| %>
    <div class="container py-4">
      <div class="row justify-content-center">
        <%= notification.created_at.strftime('%Y年%m月%d日 %H:%M') %><br>
        <%= associated_request_type(notification) %> が
        <%= notification.action_i18n %>されました<br>
      </div>
    </div>
    <div class="border"></div>
  <% end %>
  <div class="row pt-5">
    <div class="col-5 mx-auto">
    <%= paginate @notifications, theme: 'bootstrap-5' %>
    </div>
  </div>
</div>
