<h1>通知</h1>

<% @notifications.each do |notification| %>
  <%= notification.created_at.strftime('%Y年%m月%d日 %H:%M') %>
  <%= associated_request(notification) %> が
  <%= notification.action_i18n %>されました<br>
<% end %>
