<h1>シフト申請一覧</h1>

  <table class="table">
    <tr>
      <th>出勤日</th>
      <th>出勤時間</th>
      <th>退勤時間</th>
      <th>詳細</th>
      <th>申請状態</th>
      <th>修正</th>
      <th>削除</th>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to '詳細' %></td>
      <td></td>
      <td><%= link_to '修正' %></td>
      <td><%= link_to '削除' %></td>
    </tr>
  </table>
