<h1>従業員一覧</h1>
<div>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword %>
    <%= f.submit "検索" %>
  <% end %>
</div>
<div>
  <% @posts.each do |post| %>
    <%= post.title %>
  <% end %>
</div>
