<h1>通知</h1>

TODO:申請中のものは表示しない。自分が申請した申請分の承認or却下のみ表示したい。

<% @notifications.each do |notification| %>
  <%= notification.created_at.strftime('%Y年%m月%d日') %>
  <%= notification.action %>されました<br>
<% end %>
